---
title: home
layout: splash
---

<div class="home-body">

    <div class="home-container">
        
        <div class="home-content">
           <div>
                <img class="rounded" src="/assets/images/icon.png" alt="miyabi!" width="150" height="150">
                <div class="home-title">brahm</div>
            </div>
    
           <nav class="home-navigation">
                <div class="home-subtitle">wnarawutti@gmail.com</div>
                {% for item in site.data.home-links %}
                <div class="home-nav-button-container"> <a href="{{ item.link }}" 
                    {% if page.url == item.link %}class="nav-button-selected"
                    {% else %}class="nav-button" 
                    {% endif %}> {{ item.name }} </a></div>
                {% endfor %}
            </nav>
        </div>
        <br><br>
        <a href="/me/" class="home-continue">continue to website →</a>
    
    </div>
</div>