<img class="rounded" src="/assets/images/icon.jpg" alt="fern!" width="64" height="64">
<div class="header-title">บราห์ม วงษ์วันทนีย์  </div>
<div class="header-subtitle">brahm wongwandanee</div>
<hr style="border-color:#2A2D34;">
<nav class="navigation">
    {% for item in site.data.navigation %}
        <div class="nav-button-container"> <a href="{{ item.link }}" 
            {% if page.url == item.link %}class="nav-button-selected"
            {% else %}class="nav-button" 
            {% endif %}> {{ item.name }} </a></div>
    {% endfor %}
</nav>