/* 
COLOUR SCHEME

GUNMETAL BLACK: #2A2D34
NEUTRAL GRAY: #6f7582
WHITE SMOKE: #FFF1ED
GAMBOGE YELLOW: #F3A738
LIGHT RED: #FF686B

*/

@import "transitions";


body {
    background-color: #2A2D34;
    color: #fff1ed;
    font-family: 'Aptos', 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.1rem;
    margin:0%;
}

.mono {
    font-family: 'JetBrainsMono NF', 'Consolas', monospace;
}

@media screen and (max-width: 600px) {
    .site-body {width:90%; min-width:auto;}
    .home-title {font-size: 8rem;}
    .home-subtitle {font-size: 4rem;}
    .home-container {padding-top:50%;}
    .nav-button {font-size:2.5rem;}
    body {font-size: 20px;}
}

.site-header {
    text-align: center;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
}

.site-body {
    width: 60%;
    min-width: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.site-footer {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}


body.splash {
    background-color: rgb(20, 20, 30);
    background-size: 100% 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.home-container {
    text-align: center;
    padding-top: 17.5%;
    padding-bottom: 17.5%;
    font-family: 'JetBrainsMono NF', 'Consolas', monospace;
}

.home-content {
    display: inline-flex;
}

.home-title {
    font-size: 2.5rem;
    color: #d2cbd6;
}

.home-subtitle {
    font-size: 1rem;
    text-decoration: bold;
    color:#6f7582;
}

.home-navigation {
    text-align: left;
    margin-top: 4.5%;
    margin-left: 10%;
}

.header {
    display: inline;
}

.header-title {
    font-size: 1.5rem;
    text-decoration: bold;
    font-family: 'JetBrainsMono NF', 'Consolas', monospace;
    color: #fff1ed;
}

.header-subtitle {
    font-size: 1.5rem;
    font-family: 'JetBrainsMono NF', 'Consolas', monospace;
    color:#6f7582;
}

.nav-button {
    color: #d2cbd6;
    text-decoration: none;
    font-size: 1.15rem;
}

.home-continue {
    color: #929094;
    text-decoration: none;
    font-size: 1rem;
}

.home-continue:hover {
    color: #b1abb4;
    text-decoration: none;
}

.nav-button:hover {
    display: inline-block;
    color: #b79dcf;
}

.nav-button-selected {
    color: #935db8;
    text-decoration: none;
    font-size: 1.15rem;
}

.nav-button-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    display: inline-block;
    font-family: 'JetBrainsMono NF', 'Consolas', monospace;
}

.home-nav-button-container {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

.footer-nav-button-container {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    display: inline-block;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}

p {
    line-height:  1.6;
}
