/* 
COLOUR SCHEME

GUNMETAL BLACK: #2A2D34
NEUTRAL GRAY: #6f7582
WHITE SMOKE: #FFF1ED
GAMBOGE YELLOW: #F3A738
LIGHT RED: #FF686B

*/

@import "transitions";


body {
    background-color: #2A2D34;
    color: #fff1ed;
    font-family: 'Aptos', 'Segoe UI', 'Arial', sans-serif;
    font-size: 1rem;
    margin:0%;
}

@media screen and (max-width: 600px) {
    .site-body {width:90%; min-width:auto;}
    .home-title {font-size: 8rem;}
    .home-subtitle {font-size: 4rem;}
    .home-container {padding-top:50%;}
    .nav-button {font-size:2.5rem;}
    body {font-size: 20px;}
}

.site-header {
    text-align: center;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
}

.site-body {
    width: 60%;
    min-width: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.site-footer {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}


body.splash {
    background-image: url("/assets/images/background.jpg");
    background-size: 100% 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.home-container {
    text-align: center;
    padding-top: 12%;
    animation-name: fade-in;
    animation-duration: 4s;
}

.home-title {
    font-size: 3.5rem;
    text-decoration: bold;
    color: #fff1ed;
}

.home-subtitle {
    font-size: 1rem;
    color:#6f7582;
}

.header {
    display: inline;
}

.header-title {
    font-size: 2rem;
    text-decoration: bold;
    color: #fff1ed;
}

.header-subtitle {
    font-size: 1rem;
    color:#6f7582;
}

.nav-button {
    color: #fff1ed;
    text-decoration: none;
}

.nav-button:hover {
    display: inline-block;
    text-decoration: underline;
}

.nav-button-selected {
    color: #F3A738;
    text-decoration: none;
}

.nav-button-selected:hover {
    text-decoration: underline;
}

.nav-button-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    display: inline-block;
}

.home-nav-button-container {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    display: inline-block;
}

.footer-nav-button-container {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    display: inline-block;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}

p {
    line-height:  1.6;
}
